@tailwind base;
@tailwind components;
@tailwind utilities;

.root,
#root,
#docs-root  {
  --gradient-pink: linear-gradient(135deg, rgba(234,22,142,1) 0%, rgba(255,160,240,1) 25%, rgba(198,172,232,1) 51%, rgba(119,167,231,1) 75%, rgba(30,175,237,1) 100%);
}

html.dark {
  background-color: #0B0B0B;
  color-scheme: dark;
}
html {
  background-color: white;
}
* {
  transition: background-color 0.3s ease-in-out;
}

.breathing {
  animation: breathing 2.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite alternate;
}

.blue-pink-gradient {
  background: rgb(234,22,142);
  background: var(--gradient-pink);
}

.send-gradient {
  background: rgb(234,22,142);
  background: linear-gradient(131deg, rgba(234,22,142,1) 0%, rgba(30,175,237,1) 100%);
}

@keyframes breathing {
  from {
    transform: scale(0.98);
  }
  to {transform: scale(1.07)}
}

